openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW Tech4You Web API'
  description: 'Web Resources Specification (A7) for Tech4You'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw2284/-/wikis/home

tags:
  - name: 'M01: Authentication and Individual Profile'
  - name: 'M02: Products'
  - name: 'M03: Order status management'
  - name: 'M04: Cart'
  - name: 'M05: Purchase history'

paths:

  /login:
    get:
      operationId: R101
      summary: 'R101: Sign-in Form'
      description: 'Provide sign-in form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show sign-in User Interface'
    post:
      operationId: R102
      summary: 'R102: Sign-in Action'
      description: 'Processes the sign-in form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:       # <!--- form field name
                  type: string
                password:    # <!--- form field name
                  type: string
                  format: password
              required:
                - email
                - password
 
      responses:
        '302':
          description: 'Redirect after processing the sign-in credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to homepage.'
                  value: '/'
                302Error:
                  description: 'Failed authentication. Redirect to sign-in form.'
                  value: '/login'
 
  /logout:

    post:
      operationId: R103
      summary: 'R103: Sign-out Action'
      description: 'Sign-out the current authenticated used. Access: USR, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing sign-out.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful sign-out. Redirect to home page.'
                  value: '/'

  /register:
    get:
      operationId: R104
      summary: 'R104: Sign-up Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show sign-up User Interface'

    post:
      operationId: R105
      summary: 'R105: Sign-up Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                  format: password
                phoneNumber: 
                  type: integer
              required:
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to home page (sign-in done).'
                  value: '/'
                302Failure:
                  description: 'Failed registration. Redirect to sign-up form.'
                  value: '/register'

  /user/{id}: 
    get:
      operationId: R106
      summary: 'R106: View user profile'
      description: 'Show the individual user profile. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show view profile User Interface'
        '404':
          description: 'User not found'
    put: 
      operationId: R107
      summary: 'R107: Edit user profile action'
      description: 'Processes the user edit profile form submission. Acess: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'  
        
      parameters:
        - in: path         
          name: id
          schema:
            type: integer
          required: true
        
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema: 
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                  format: password
                phoneNumber: 
                  type: integer

      responses:
        "302":
          description: "Redirect after processing the user updated information."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful profile edition. Redirect to user profile."
                  value: "/user/{id}"
                302Failure:
                  description: "Failed profile edition. Redirect to edit profile form."
                  value: "/user/{id}/edit"                    

  /api/user/{id}:
    delete:
      operationId: R108
      summary: "R108: Delete user account action"
      description: "Processes a request to delete a user account. Access: OWN"
      tags:
        - "M01: Authentication and Individual Profile"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "302":
          description: "Redirect after deleting user account."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful user account deletion. Redirect to homepage."
                  value: "/"
                302Failure:
                  description: "Failed to delete user account. Redirect to user profile."
                  value: "/user/{id}"                

  /user/{id}/edit:
    get:
      operationId: R109
      summary: "R109: User profile edition form"
      description: "Provide form for user profile edition. Access: OWN"
      tags:
        - "M01: Authentication and Individual Profile"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show user profile edition form User Interface"
        "401":
          description: "Unauthorized. Must be authenticated!"
        "403":
          description: "Forbidden. Must be owner of the profile!"
        "404":
          description: "User not found!"

  /:
    get:
      operationId: R201
      summary: "R201: Get Home Page"
      description: "Fetch Home Page of the application that depends on the user. Access: PUB"
      tags:
        - "M02: Products"

      responses:
        "200":
          description: "OK. Show home page feed User Interface"

  /search:
    get:
      operationId: R202
      summary: "R202 : Search Page"
      description: "Show Search Page given a search type and value. Access: PUB"
      tags:
        - "M01: Authentication and Individual Profile"
        - "M02: Products"

      parameters:
        - in: query
          name: type
          description: "Search type"
          schema:
            type: string
            enum:
              - "product"
              - "user"
          required: true
        - in: query
          name: query
          description: "string used for full-text search"
          schema:
            type: string
          required: false

      responses:
        "200":
          description: "OK. Show Search Page User Interface"

  /api/search/products:
    get:
      operationId: R203
      summary: "R203 : Returns products according to given parameters"
      description: "Returns search results according to user parameters. Access: PUB"
      tags:
        - "M02: Products"

      parameters:
        - in: query
          name: query
          description: "string used for full-text search"
          schema:
            type: string
          required: false
        - in: query
          name: offset
          description: "value used to fetch results starting at a certain value"
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
        - in: query
          name: limit
          description: "value used to limit the number of results"
          schema:
            type: integer
            minimum: 1
          required: false # returns all products if not specified

      responses:
        "200":
          description: "OK. Show a list of products that fit the criteria"

  /api/product/filter:
    get:
      operationId: R204
      summary: "R204 : Return products according to certain filters"
      description: "Show filtered products by certain criteria. Access: PUB"
      tags:
        - "M02: Products"

      parameters:
        - in: query
          name: type
          description: "feed type"
          schema:
            type: string
            default: "most liked"
            enum:
              - "most liked"
              - "less costly"
              - "recent"
          required: false
        - in: query
          name: offset
          description: "value used to fetch results starting at a certain value"
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
        - in: query
          name: limit
          description: "value used to limit the number of results"
          schema:
            type: integer
            minimum: 1
          required: false # returns all products if not specified

      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                tags:
                  type: array
                minDate:
                  type: string
                  format: date
                maxDate:
                  type: string
                  format: date

      responses:
        "200":
          description: "OK. Show filter results User Interface"
        "400":
          description: "Failed to filter products. Bad Request"

  /product/{id}:
    get:
      operationId: R205
      summary: "R205 : View Product Page"
      description: "View an Product Page. Access: PUB"
      tags:
        - "M02: Products"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "OK. Show Product Page (with the product details) User Interface"
        "404":
          description: "Product not found"
          
  /api/order/{order_id}:
    get:
      operationId: R301
      summary: "R301: Orders list"
      description: "Show list of orders by id. Access: ADM"
      tags:
        - "M03: Order status management"

      parameters:
        - in: query
          name: order_id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Show order list User Interface"
        "401":
          description: "Unauthorized. Not logged in"
        "403":
          description: "Forbidden. No permissions"
        "404":
          description: "Not found" 

  /order/{order_id}:
    put:
      operationId: R302
      summary: "R302: Edit order status action"
      description: "Processes the admin edit order status submission. Access: ADM"
      tags:
        - "M03: Order status management"

      parameters:
        - in: path
          name: state
          description: (IN PROCESS, PREPARING, DISPATCHED DELIVERED, CANCELLED)
          schema:
            type: string  
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                state:
                  type: orderState
                date:
                  type: date  

      responses:
        "302":
          description: "Redirect after processing the admin updated information."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful order status edition. Redirect to order page."
                  value: "/api/order/{order_id}"
                302Failure:
                  description: "Failed order status edition. Redirect to order page edit."
                  value: "/order/{order_id}"
          

  /product/{product_id}/add_cart:
    put:
      operationId: R401
      summary: "R401: Add a product to cart"
      description: "Processes the addition of cart product. Access: USR"
      tags:
        - "M04: Cart"

      parameters:
        - in: path
          name: product_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Product is now in cart"
        "401":
          description: "Unauthorized. Not logged in"
        "404":
          description: "Not found" 

  /cart/remove_product/{product_id}:
    put:
      operationId: R402
      summary: "R402: Remove a product from cart"
      description: "Processes the removal of cart product. Access: OWN"
      tags:
        - "M04: Cart"

      parameters:
        - in: path
          name: product_id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Product is now removed from cart"
        "401":
          description: "Unauthorized. Not logged in"
        "404":
          description: "Not found"
        "409":
          description: "Conflict. Product is not in cart"  

  /cart:
    get:
      operationId: R403
      summary: 'R403: Cart Form'
      description: 'Provide cart form. Access: USR'
      tags:
        - 'M04: Cart'
      responses:
        '200':
          description: 'Ok. Show cart User Interface'
    post:
      operationId: R404
      summary: 'R404: Cart buy products Action'
      description: 'Processes the card products to buy submission. Access: OWN'
      tags:
        - 'M04: Cart'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                quantity:    
                  type: integer
                product_id:
                  type: integer
                user_id:
                  type: integer
              required:
                - quantity
                - product_id
                - user_id
 
      responses:
        '302':
          description: 'Redirect after processing the cart products.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to buy page.'
                  value: '/cart/buy'
                302Error:
                  description: 'Failed authentication. Redirect to cart form.'
                  value: '/cart'
 
  /user/history:
    get:
      operationId: "R501"
      summary: "R501: View personal purchase history"
      description: "Page with information about all personal purchases. Access: OWN"
      tags:
        - "M05: Purchase history"

      responses:
        "200":
          description: "Ok. Show personal purchase history User Interface"
        "400":
          description: "Bad request."
        "401":
          description: "Unauthorized. Not logged in"
        "403":
          description: "Forbidden. No permissions"
        "404":
          description: "Not found"                                    

